<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>    
  </Attributes>
  <Services>
    <!--<Service Name="StockPLC_01" Type="THOK.MCP.Service.Siemens.dll, THOK.MCP.Service.Siemens.OPCService" ConfigFile="StockPLC_01.xml" />
    <Service Name="StockPLC_02" Type="THOK.MCP.Service.Siemens.dll, THOK.MCP.Service.Siemens.OPCService" ConfigFile="StockPLC_02.xml" />-->
    <Service Name="Crane" Type="THOK.MCP.Service.TCP.dll, THOK.MCP.Service.TCP.TCPService" ConfigFile="Crane.xml" />
  </Services>
  <Processes>
    <!--一层入库申请-->
    <Process Name="StockInRequestProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.StockInRequestProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_218_1" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_110_1" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_126_1" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_131" />
    </Process>
    <!--一层不合格站台-->
    <Process Name="NotReadBarcodeProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.NotReadBarcodeProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_124" />      
    </Process>
    <!--一层到达入库站台-->
    <Process Name="StockInStationProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.StockInStationProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_136" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_148" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_152" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_170" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_178" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_186" />
    </Process>
    <!--一层空托盘组请求出库-->
    <Process Name="PalletOutRequestProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.PalletOutRequestProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_158_1" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_200_1" />
    </Process>
    <!--一层出库到达指定位置-->
    <Process Name="PalletOutToStationProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.PalletOutToStationProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_158_2" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_200_2" />
    </Process>
    <!--一抽检盘点到达指定位置-->
    <Process Name="CheckOutToStationProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.CheckOutToStationProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_195" />
    </Process>
    <!--一倒库到达指定位置-->
    <Process Name="MoveOutToStationProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.MoveOutToStationProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_122" />
    </Process>

    <!--二层空托盘组请求入库-->
    <Process Name="PalletInRequestProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_02.PalletInRequestProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_1_359" />
    </Process>
    <!--二层空托盘组入库到达小车站台-->
    <Process Name="PalletToCarStationProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_02.PalletToCarStationProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_1_301" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_305" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_309" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_313" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_317" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_323" />
    </Process>
    <!--二层空托盘组入库到达入库站台-->
    <Process Name="PalletToStationProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_02.PalletToStationProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_1_302" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_306" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_310" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_314" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_318" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_324" />
    </Process>
    <!--二层出库到达小车站台-->
    <Process Name="StockOutToCarStationProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_02.StockOutToCarStationProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_1_303" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_307" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_311" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_315" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_319" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_321" />
    </Process>
    <!--二层出库小车完成-->
    <Process Name="StockOutCarFinishProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_02.StockOutCarFinishProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_1_340" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_360" />
    </Process>
    <!--二层出库拆盘完成-->
    <Process Name="StockOutSeparateProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_02.StockOutSeparateProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_1_372" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_392" />
    </Process>
    <!--二层出库进入缓存道-->
    <Process Name="StockOutInCacheProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_02.StockOutInCacheProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_1_378" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_381" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_383" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_385" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_387" />
      <Item ServiceName="StockPLC_02" ItemName="02_1_389" />
    </Process>
  </Processes>
</Configuration>