<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>    
  </Attributes>
  <Services>
    <Service Name="StockPLC_01" Type="THOK.MCP.Service.Siemens.dll, THOK.MCP.Service.Siemens.OPCService" ConfigFile="StockPLC_01.xml" />
    <Service Name="StockPLC_02" Type="THOK.MCP.Service.Siemens.dll, THOK.MCP.Service.Siemens.OPCService" ConfigFile="StockPLC_02.xml" />
    <Service Name="Crane" Type="THOK.MCP.Service.TCP.dll, THOK.MCP.Service.TCP.TCPService" ConfigFile="Crane.xml" />
  </Services>
  <Processes>
    <!--入库申请-->
    <Process Name="StockInRequestProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.StockInRequestProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_218" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_110" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_126" />
      <Item ServiceName="StockPLC_01" ItemName="01_2_218" />
      <Item ServiceName="StockPLC_01" ItemName="01_2_110" />
      <Item ServiceName="StockPLC_01" ItemName="01_2_126" />
    </Process>
    <!--到达入库站台-->
    <Process Name="StockInStationProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.StockInStationProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_136" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_148" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_152" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_170" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_178" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_186" />
    </Process>
    <!--空托盘组入-->
    <Process Name="PalletInRequestProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.PalletInRequestProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_131" />
      <Item ServiceName="StockPLC_01" ItemName="01_2_131" />
    </Process>
    <!--空托盘组出-->
    <Process Name="PalletOutRequestProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.Process_01.PalletOutRequestProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_1_158" />
      <Item ServiceName="StockPLC_01" ItemName="01_1_200" />

    </Process>
    <!--状态管理器添加-->
    <Process Name="OrderDataStateProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.StateManageProcess.OrderDataStateProcess">
      <Item ServiceName="StockPLC_01" ItemName="01_OrderDataMoveNext" />
      <Item ServiceName="StockPLC_01" ItemName="01_OrderDataMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="02_OrderDataMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="02_OrderDataMoveTo" />
    </Process>
    <Process Name="LedStateProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.StateManageProcess.LedStateProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_LedMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="02_LedMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="02_LedShowData" />
      <Item ServiceName="StockPLC_02" ItemName="02_ReleaseLed" />
    </Process>
    <Process Name="ScannerStateProcess" Type="THOK.XC.Process.dll, THOK.XC.Process.StateManageProcess.ScannerStateProcess">
      <Item ServiceName="StockPLC_02" ItemName="02_ScannerMoveNext" />
      <Item ServiceName="StockPLC_02" ItemName="02_ScannerMoveTo" />
      <Item ServiceName="StockPLC_02" ItemName="02_ScannerShowData" />
      <Item ServiceName="StockPLC_02" ItemName="02_ReleaseScanner" />
      <Item ServiceName="Scanner" ItemName="02" Desc="扫描器主站02" />
    </Process>
  </Processes>
</Configuration>